@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components
@using M_SAVA_WASM.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager

@code {
    [Parameter] public RouteData RouteData { get; set; } = default!;
    [Parameter] public Type DefaultLayout { get; set; } = typeof(MainLayout);
    private bool? isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        isLoggedIn = await AuthService.IsLoggedInAsync();
        if (isLoggedIn == false && !NavigationManager.Uri.ToLower().Contains("/auth/login"))
        {
            NavigationManager.NavigateTo("/auth/login", true);
        }
    }
}

@if (isLoggedIn == null)
{
    <div>Loading...</div>
}
else if (isLoggedIn == true || RouteData.PageType.Name == "Login")
{
    <RouteView RouteData="@RouteData" DefaultLayout="@DefaultLayout" />
}
